
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #000;
    background-color: white;
    -webkit-overflow-scrolling: touch;
}
.mui-content{
	background-color: white;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}












